{% from 'macros.html' import hitterstable, pitcherstable %}
{% extends 'base.html' %}

{% block content %}
<div class="player-banner">
    <div class="player-info">
        <img src="https://content.mlb.com/images/headshots/current/60x60/{{ player['id'] }}@2x.png" alt=""/>
        <div>
            <div id="player-page-name">{{ player['nameFirstLast'] }}</div>
            <div id="player-pos-team">
                <span>{{ player['primaryPosition']['abbreviation'] }}</span>
                <a href="/team/{{ player['currentTeamId'] }}">{{ player['currentTeam'] }}</a>
            </div>
        </div>
    </div>
    <div class="player-bio">
        <table class="player-bio-table">
            <thead>
                <th>B/T</th>
                <th>Age</th>
                <th>H</th>
                <th>W</th>
                <th>Drafted</th>
            </thead>
            <tbody>
                <td>{{ player['batSide']['code'] }}/{{ player['pitchHand']['code'] }}</td>
                <td>{{ player['currentAge'] }}</td>
                <td>{{ player['height'] }}</td>
                <td>{{ player['weight'] }}</td>
                <td>{{ player['draftYear'] }}</td>
            </tbody>
        </table>
    </div>
</div>
{% if noStats == true %}
    <div id="no-stats">No MLB Stats for this Player</div>
{% elif player['primaryPosition']['abbreviation'] == 'P' %}
    {{ pitcherstable(player, 0) }}
{% elif player['primaryPosition']['abbreviation'] == 'TWP' %}
    <div id="category-heading">Pitching Statistics</div>
    {{ pitcherstable(player, 0) }}
    <div id="category-heading">Hitting Statistics</div>
    {{ hitterstable(player, 1) }}
{% else %}
    {{ hitterstable(player, 0) }}
{% endif %}
{% endblock %}
