@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');
:root {
    --mxwidth: 1200px;
    --navcolor: #204377;
    --primary: #244D87;
    --secondary: #3E9FCA;
    --danger: #842C2E;
    --offset: #F7F7F7;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--primary);
    padding-top: 60px;
}

header {
    overflow: hidden;
    background-color: var(--navcolor);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.4em 0;
    z-index: 10;
}

#nav-img {
    height: 30px;
}

.container {
    max-width: var(--mxwidth);
    margin: 0 auto;
}

.table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* HOME PAGE STYLES */
#home-title-bar {
    font-size: x-large;
    font-weight: 600;
    color: white;
    margin-bottom: 0.3em;
}

.table-container > * {
    flex-basis: 100%;
}

table.standings {
    table-layout: fixed;
    font-size: small;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--primary);
    border-collapse: separate;
    border-spacing: 0;
}



table.standings th,
table.standings td {
    padding: 5px 10px 5px 5px;
}


table.standings thead tr {
    color: white;
}

table.standings thead th {
    width: auto;
    background-color: var(--secondary);
}

table.standings thead th:first-of-type {
    width: 55%;
    text-align: left;
    font-weight: 600;
}

table.standings thead th:first-of-type {
    border-top-left-radius: 5px;
}

table.standings thead th:last-of-type {
    border-top-right-radius: 5px;
}

table.standings tbody td {
    text-align: center;
}

table.standings tbody td#division {
    display: flex;
    align-items: center;
}

table.standings tbody td#division img {
    height: 15px;
}

table.standings tbody td#division p {
    margin-left: 5px;
}

table.standings tbody td:first-of-type {
    text-align: left;
}

table.standings tbody td:first-of-type a {
    font-weight: 600;
}

table.standings tbody tr:nth-child(even) td {
    background-color: var(--offset);
}

table.standings tbody tr:nth-child(odd) td {
    background-color: white;
}

table.standings tbody tr:last-of-type {
    background-color: var(--primary);
}

table.standings tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.standings tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

#AL {
    margin-right: 5px;
}

#NL {
    margin-left: 5px;
}
/* HOME PAGE STYLES END */

/* TEAM PAGE STYLE BEGIN */
.team-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

.team-section {
    display: inline-flex;
    flex-basis: 70%;
    align-items: center;
}

#team-logo {
    background-color: white;
    max-width: 5%;
    padding: 8px;
    clip-path: circle();
}

#team-info {
    margin-left: 0.7em;
}

#team-info > #team-name {
    font-size: large;
    font-weight: 600;
    color: white;
}

#team-record > span {
    color: var(--secondary);
}

#team-record {
    color:white;
}

.input-area {
    display: inline-flex;
    overflow: hidden;
    background-color: white;
    border-radius: 25px;
    padding: 3px;
}

.radio-input {
    display: none;
}

.radio-label {
    cursor: pointer;
    color: var(--secondary);
    padding: 5px 20px;
    font-weight: 600;
    font-size: small;
}

.radio-input:checked + .radio-label {
    background-color: var(--secondary);
    color: white;
    border-radius: 15px;
}

.roster-table {
    table-layout: fixed;
    font-size: small;
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

table.roster-table th,
table.roster-table td {
    padding: 5px 10px 5px 5px;
}


table.roster-table thead tr {
    color: white;
}

table.roster-table thead th {
    width: auto;
    background-color: var(--secondary);
}

table.roster-table thead th#player-name {
    width: 40%;
    text-align: left;
}

table.roster-table tbody td {
    text-align: center;
}

table.roster-table tbody td#jersey-number {
    color: var(--secondary);
}

table.roster-table tbody td#player-name {
    text-align: left;
    padding: 5px 0 0 0;
    vertical-align: middle;
}

table.roster-table tbody tr td img#player-img {
    height: 30px;
    vertical-align: bottom;
}

table.roster-table tbody tr td#player-name p {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 5px;
}

table.roster-table tbody tr td#player-name a {
    font-weight: 600;
}

table.roster-table thead th:first-of-type {
    border-top-left-radius: 5px;
}

table.roster-table thead th:last-of-type {
    border-top-right-radius: 5px;
}

table.roster-table tbody tr:nth-child(even) td {
    background-color: var(--offset);
}

table.roster-table tbody tr:nth-child(odd) td {
    background-color: white;
}

table.roster-table tbody tr:last-of-type {
    background-color: var(--primary);
}

table.roster-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.roster-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

#pitchers_tbl {
    display: none;
}


/* TEAM STYLES END */


/* PLAYER STYLES START */

.player-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-info {
    display: inline-flex;
    flex-basis: 70%;
    align-items: center;
}

.player-info img {
    margin-left: 10px;
}

#player-page-name {
    color: white;
    font-size: large;
    font-weight: 600;
}

#player-pos-team span {
    color: var(--secondary);
}

#player-pos-team a {
    color: white;
}

.player-bio {
    flex-basis: 25%;
}

.player-bio-table {
    table-layout: fixed;
    font-size: small;
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

.player-bio-table thead th {
    text-align: left;
    font-size: small;
    font-weight: 600;
    color: var(--secondary);
}

.player-bio-table tbody td {
    text-align: left;
    font-size: medium;
    font-weight: 600;
    color: white;
}

.player-stats-table {
    table-layout: fixed;
    font-size: small;
    width: 100%;
    background-color: var(--primary);
    margin-bottom: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

table.player-stats-table thead tr {
    color: white;
}

table.player-stats-table thead th {
    width: auto;
    background-color: var(--secondary);
    text-align: center;
    font-weight: 600;
}

table.player-stats-table thead th#team-abbr {
    width: 40%;
    text-align: left;
    padding-left: 8px;
}

table.player-stats-table tbody td#team-abbr {
    display: inline-flex;
    text-align: left;
    align-items: center;
    width: 100%;
}

table.player-stats-table tbody td#team-abbr img {
    height: 20px;
}

table.player-stats-table tbody td#team-abbr p {
    margin-left: 10px;
}

table.player-stats-table tbody td {
    text-align: center;
}

table.player-stats-table tbody tr td#team-abbr a {
    font-weight: 600;
}

table.player-stats-table tbody tr:nth-child(even) td {
    background-color: var(--offset);
}

table.player-stats-table tbody tr:nth-child(odd) td {
    background-color: white;
}

table.player-stats-table thead th:first-of-type {
    border-top-left-radius: 5px;
    padding: 5px;
}

table.player-stats-table tbody td {
    padding: 10px;
}

table.player-stats-table thead th:last-of-type {
    border-top-right-radius: 5px;
}

table.player-stats-table tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

table.player-stats-table tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}

/* PLAYERS STYLES END */