{% from 'macros.html' import placeInDiv %}
{% extends 'base.html' %}

{% block content %}
<div class="team-container">
    <div class="team-section">
        <img id="team-logo" src="https://www.mlbstatic.com/team-logos/{{ teamInfo['id'] }}.svg" alt="TeamLogo" />
        <div id="team-info">
            <div id="team-name">{{ teamInfo['name'] }}</div>
            <div id="team-record"><span>{{ teamInfo['place_in_division'] }} in {{ teamInfo['division_name'] }}</span> &nbsp;&nbsp; {{ teamInfo['wins_this_season'] }} - {{ teamInfo['losses_this_season'] }} ({{ teamInfo['win_pct'] }}) &#183; {{ teamInfo['games_back'] }} GB</div>
        </div>
    </div>
    <div class="input-area">
        <input class="radio-input" type="radio" id="hitters" name="player" checked="checked" onclick="showTable()">
        <label class="radio-label" for="hitters">Hitters</label>
        <input class="radio-input" type="radio" id="pitchers" name="player" onclick="showTable()">
        <label class="radio-label" for="pitchers">Pitchers</label>
    </div>  
</div>

<table class="roster-table" id="hitters_tbl">
    <thead>
        <th>Pos</th>
        <th id="jersey-number">#</th>
        <th id="player-name">Player</th>
        <th>Age</th>
        <th>B</th>
        <th>T</th>
        <th>PA</th>
        <th>H</th>
        <th>2B</th>
        <th>3B</th>
        <th>HR</th>
        <th>SB</th>
        <th>SO%</th>
        <th>BB%</th>
        <th>AVG</th>
        <th>OBP</th>
        <th>OPS</th>
    </thead>
    <tbody>
        {% for player in hitters %}
        <tr>
            <td>{{ player['primaryPosition']['abbreviation'] }}</td>
            {% if player['primaryNumber'] %}
                <td id="jersey-number">{{ player['primaryNumber'] }}</td>
            {% else %}
                <td id="jersey-number">-</td>
            {% endif %}
            <td id="player-name"><img id="player-img" src="https://content.mlb.com/images/headshots/current/60x60/{{ player['id'] }}.png" alt=""/><p><a href="/player/{{ player['id'] }}">{{ player['lastFirstName'] }}</a></p></td>
            <td>{{ player['currentAge'] }}</td>
            <td>{{ player['batSide']['code'] }}</td>
            <td>{{ player['pitchHand']['code'] }}</td>
            {% if player['stats'] %}
                <td>{{ player['stats'][0]['splits'][0]['stat']['plateAppearances'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['hits'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['doubles'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['triples'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['homeRuns'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['stolenBases'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['soPercent'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['bbPercent'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['avg'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['obp'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['ops'] }}</td>
            {% else %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="roster-table" id="pitchers_tbl">
    <thead>
        <th>Pos</th>
        <th id="jersey-number">#</th>
        <th id="player-name">Pitcher</th>
        <th>Age</th>
        <th>T</th>
        <th>IP</th>
        <th>ERA</th>
        <th>SO</th>
        <th>BB</th>
        <th>SO%</th>
        <th>BB%</th>
        <th>HR/9</th>
        <th>OPS</th>
    </thead>
    <tbody>
        {% for player in pitchers %}
        <tr>
            <td>{{ player['primaryPosition']['abbreviation'] }}</td>
            {% if player['primaryNumber'] %}
                <td id="jersey-number">{{ player['primaryNumber'] }}</td>
            {% else %}
                <td id="jersey-number">-</td>
            {% endif %}
            <td id="player-name"><img id="player-img" src="https://content.mlb.com/images/headshots/current/60x60/{{ player['id'] }}.png" alt=""/><p><a href="/player/{{ player['id'] }}">{{ player['lastFirstName'] }}</a></p></td>
            <td>{{ player['currentAge'] }}</td>
            <td>{{ player['pitchHand']['code'] }}</td>
            {% if player['stats'] %}
                <td>{{ player['stats'][0]['splits'][0]['stat']['inningsPitched'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['era'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['strikeOuts'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['baseOnBalls'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['soPercent'] }}%</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['bbPercent'] }}%</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['homeRunsPer9'] }}</td>
                <td>{{ player['stats'][0]['splits'][0]['stat']['ops'] }}</td>
            {% else %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
